<!-- templates/projects.html -->
{% extends "layout.html" %}

{% block title %}
My Projects
{% endblock %}

{% block content %}
<h1>My Projects</h1>

<ul>
    <!--  project 1 -->
 
    <h2>Handraise</h2>  
    <p>Handraise is an ERC-20 token published on the SepoliaETH testnet. It is designed to be used for tracking 
        class participation points, and the accompanying python scripts can automate issuance and redemption for credit!
    </p>
    <a href="https://github.com/bishopcurtisj/Handraise" target="_blank">View on GitHub</a>
    
    
    <!--  project 2 -->

    <h2>Honeybee</h2>
    <p>This is a jax-based implementation of Longstaff-Schwartz and Hedged Monte-Carlo option pricing, that has 
        been designed to take advantage of the GPU/TPU acceleration and parralelization provided by jax.
    </p>
    <a href="https://github.com/bishopcurtisj/honeybee" target="_blank">View on GitHub</a>

    </ul>
{% endblock %}
